* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  display: grid;
}
body {
  background-image: url("triangles_gray.svg");
  background-size: cover;
  background-attachment: fixed;
}
.container {
  display: flex;
  width: 100%;
  padding-inline: 1.5rem;
  margin: auto;
}
.jumbotron-evap {
  max-width: 90%;
  margin: auto;
  background-image: url("triangles_color.svg");
  background-size: cover;
  padding: 4rem 2rem;
  border-radius: 0.3rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 1.5rem;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}
.d-flex {
  display: flex;
}
.py-4 {
  margin-block: 1.5rem;
}
.mx-auto {
  margin-inline: auto;
}
.my-auto {
  margin-block: auto;
}
